@page
@model ProductDetailModel
@{
    var product = Model.Product;
}

<h2>@product.Name</h2>

<div class="row">
    <div class="col-md-6">
        <img src="@product.ImageUrl" alt="@product.Name" class="img-fluid" />
    </div>
    <div class="col-md-6">
        <p>@product.Description</p>
        <p><strong>Price:</strong> $@product.Price</p>

        <form method="post">
            <button type="submit" class="btn btn-success">Add to Basket</button>
        </form>
    </div>
</div>
